// COMMON :: START

.copyright {
	display: flex;
	@include adaptive(767) {
		justify-content: center;
		text-align: center;
		padding-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		color: #ffffff;
	}
}

.made {
	&__link {
		display: flex;
		color: #ffffff;
		font-size: 14px;
		@include transition(color);

		&:hover {
			color: #dadc56;
			@include transition(color);
		}
	}
}

// COMMON :: END
