// SECTION :: START

section#main.main

  .main__wrapper

    .main__slider

      .swiper
        .swiper-wrapper
          .swiper-slide.swiper-slide-active
            img(src="img/img-main-contacts.png" alt="")
            h1!= "Connect With Us."

// SECTION :: END
