// SECTION :: START

.procedure {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #eae9e9;

	.services {
		&__title {
			span {
				background-color: #eae9e9;
			}
		}
	}

	&__block {
		&-wrapper {
			> div {
				&:after {
					display: none !important;
				}
			}
		}
	}
}

// SECTION :: END
