// SECTION :: START

.address {

	&__wrapper {
		&-1 {
			display: flex;
			padding-top: 20px;
			padding-bottom: 50px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(767) {
					max-width: 100%;

					&:not(:last-of-type) {
						padding-bottom: 40px;
					}
				}
			}
		}

		&-2 {
			padding-bottom: 50px;
		}

		&-3 {
			iframe {
				display: block;
				max-width: 100%;
				height: 400px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&__box {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 70px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			border-radius: 50%;
			background-color: #bbbf34;

			svg {
				color: #ffffff;
				font-size: 24px;
			}
		}

		p {
			text-align: center;
			font-size: 16px;

			a {
				color: #bbbf34;
				font-weight: 500;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-group {
			display: flex;
			justify-content: space-between;
			@include adaptive(1023) {
			  flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 30px) / 3);
				@include adaptive(1023) {
					max-width: 100%;
				}
			}
		}

		&-field {
			display: flex;
			width: 100%;
			margin-bottom: 15px;

			&.address__form-field--checkbox {
				display: flex;
				flex-wrap: wrap;

				 > div {
					 width: 100%;
					 max-width: calc(100% / 3);
					 @include adaptive(767) {
						 max-width: 100%;

						 &:not(:last-of-type) {
							 padding-bottom: 5px;
						 }
					 }

					 label {
						 display: flex;
						 flex-direction: row;
						 align-items: center;

						 span {
							 padding-left: 10px;
							 font-size: 16px;
						 }
					 }
				 }
			}
			&.address__form-field--btn {
				justify-content: center;
			}

			label {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			input[type='text'],
			input[type='email'],
			input[type='date'],
			input[type='tel'],
			input[type='number'],
			textarea {
				outline: none;
				position: relative;
				width: 100%;
				height: 45px;
				padding: 0 15px;
				border: 1px solid #d2d2d2;
				box-shadow: none;
				border-radius: 0;
				background-color: #ffffff;
				font-size: 16px;
				color: #000000;
				@include inputPlaceholder {
					font-size: 16px;
					color: rgba(#000, 0.55);
				}
			}

			textarea {
				resize: none;
				height: 100px;
				padding: 15px;
			}

			button {
				outline: none;
				cursor: pointer;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 200px;
				height: 45px;
				border: 1px solid #b4b82f;
				box-shadow: none;
				border-radius: 0;
				background-color: #b4b82f;
				font-size: 16px;
				color: #fff;
				@include transition(background-color, color);

				&:hover {
					background-color: transparent;
					color: #b4b82f;
					@include transition(background-color, color);
				}
			}

			p {
				display: flex;
				align-items: center;
				padding-bottom: 5px;
				font-size: 14px;
				font-weight: 600;
				color: #000000;
			}
		}
	}
}

// SECTION :: END
