---
title: Renumedispa

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/homepage/main
    include components/homepage/category
    include components/homepage/skin
