// FOOTER :: START

footer#footer.footer

  .footer__container.footer__container-1
    .c-grid
      .footer__wrapper.footer__wrapper-1
        div
          h4.footer__title Services

          nav.footer__nav
            a(href="#") Injectables And Dermal Fillers
            a(href="#") Body Contouring
            a(href="#") Skin Health
            a(href="#") Laser Treatments
            a(href="#") Reviews And Rewards

        div
          h4.footer__title About

          nav.footer__nav
            a(href="#") Renu Policies
            a(href="#") Renu on Your Budget
            a(href="#") Meet the Staff
            a(href="#") Contact Us

        div
          h4.footer__title Blog

          nav.footer__nav
            a(href="#") Icon Laser Resurfacing
            a(href="#") Volbella XC
            a(href="#") Ultherapy: The Scoop
            a(href="#") Botox for Men
            a(href="#") Pore-riffic!

        div

          .logo.logo--footer
            a.logo__btn(href="#")
              img.logo__img(src='img/logo--footer.png' alt='')

          .footer__address
            p 951 East Plaza Dr. Suite 150,
            p Eagle ID 83616
            a(href="tel:208-939-4456") Tel: 208-939-4456
            a(href="mailto:info@renumedispa.com") Email: info@renumedispa.com

          ul.footer__social
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-pinterest-p
            li
              a(href="#")
                i.fab.fa-instagram


  .footer__container.footer__container-2
    .c-grid
      .footer__wrapper.footer__wrapper-2
        div
          .copyright
            p.copyright__text Copyright 2021 © Renu Medispa | All Rights Reserved
        div
          .made
            a.made__link(href="#") SEO by MRKT MADE

// FOOTER :: END
