// HEADER :: START

header#header.header
  .header__container.header__container-1

    .c-grid
      .header__wrapper.header__wrapper-1

        .header__contacts
          p Contact Us
          span |
          a(href="#")
            i.fas.fa-home
            | 951 East Plaza Dr. Suite 150, Eagle ID 83616
          span |
          a(href="tel:208.939.4456")
            i.fas.fa-phone
            | 208.939.4456
          span |
          a(href="mailto:info@renumedispa.com")
            i.fas.fa-envelope
            | info@renumedispa.com

  .header__container.header__container-2

    .c-grid
      .header__wrapper.header__wrapper-2
        div

          .logo.logo--header
            a.logo__btn(href="#")
              img.logo__img(src='img/logo--footer.png' alt='')

        div

          nav.header__menu
            .header__menu-container.header__menu-container--small
              a.header__menu-item(href="#")
                span About
                i.fas.fa-chevron-down
              .header__menu-dropdown
                a(href="#") Why Renu
                a(href="#") Reviews
                a(href="#") Staff
                a(href="#") Renu Policies
                a(href="#") Blog
            .header__menu-container.header__menu-container--full
              a.header__menu-item(href="#")
                span Services
                i.fas.fa-chevron-down
              .header__menu-dropdown
                .c-grid
                  div
                    p.header__menu-title Injectables
                    a(href="#") PRP Therapy
                    a(href="#") Botox Cosmetic
                    a(href="#") Dysport
                    a(href="#") Xeomin
                    a(href="#") Sculptra
                    a(href="#") Juvederm
                    a(href="#") Lip Injections
                    a(href="#") Restylane
                    a(href="#") Radiesse
                    a(href="#") Jaw & Chin Augmentation
                  div
                    p.header__menu-title Laser Treatments
                    a(href="#") Halo X Skin Rejuvenation
                    a(href="#") Gene X
                    a(href="#") Diva Vaginal Rejuvenation
                    a(href="#") Ultherapy
                    a(href="#") Micron X Laser Peel
                    a(href="#") BBL X
                    a(href="#") SkinTyte Skin Tightening
                    a(href="#") Rosacea
                    a(href="#") Acne Laser Treatment
                    a(href="#") Laser Hair Removal
                    a(href="#") Melasma
                    a(href="#") Skin Resurfacing
                    a(href="#") IPL Photorejuvenation
                    a(href="#") GentleWaves Photomodulation
                    a(href="#") Blu-U
                  div
                    p.header__menu-title Body Contouring
                    a(href="#") CoolSculpting
                    a(href="#") CoolTone
                    a(href="#") Venus Freeze
                    a(href="#") Kybella
                  div
                    p.header__menu-title Skin Health
                    a(href="#") SaltFacial
                    a(href="#") Collagen Induction Therapy (Micro Needling)
                    a(href="#") Dermal Infusion
                    a(href="#") Goldwave Therapy
                    a(href="#") Chemical Peels & Treatments
                    a(href="#") Oxygen Skin Therapy
                    a(href="#") Ultrasonic Pore Cleanse
                    a(href="#") Visia Skin Analysis
                    a(href="#") Microdermabrasion
                    a(href="#") EpiBlade Dermal Leveling
                    a(href="#") Renu Custom Facials
            .header__menu-container.header__menu-container--small
              a.header__menu-item(href="#")
                span Health & Vitality
                i.fas.fa-chevron-down
              .header__menu-dropdown
                a(href="#") Intimate Wellness
            .header__menu-container.header__menu-container--small
              a.header__menu-item(href="#")
                span Men
                i.fas.fa-chevron-down
              .header__menu-dropdown
                a(href="#")
                  span Refresh & Repair
                  i.fas.fa-chevron-right
                  .header__menu-subdropdown
                    button(type='button') Brotox
                    button(type='button') Ultherapy
                    button(type='button') Halo X
                a(href="#")
                  span Restore And Refine
                  i.fas.fa-chevron-right
                  .header__menu-subdropdown
                    button(type='button') Radiesse
                    button(type='button') Sculptra
                    button(type='button') Restylane
                a(href="#")
                  span Resculpt and Refuel
                  i.fas.fa-chevron-right
                  .header__menu-subdropdown
                    button(type='button') CoolSculpting
                    button(type='button') CoolTone
                    button(type='button') Kybella
            .header__menu-container.header__menu-container--small
              a.header__menu-item(href="#")
                span Rewards
            .header__menu-container.header__menu-container--small
              a.header__menu-item(href="#")
                span Appointments

        div

          ul.header__social
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-pinterest-p
            li
              a(href="#")
                i.fab.fa-instagram

// HEADER :: END
