// SECTION :: START

section#beforeAfter.beforeAfter
  .c-grid
    .beforeAfter__wrapper.beforeAfter__wrapper-1

      h2.services__title
        span BOTOX For Men In Boise | Eagle, ID

      .services__block-wrapper.services__block-wrapper-1.procedure__block-wrapper
        div
          .services__block.services__block-1
            p.services__desc Despite its name, Brotox is the same BOTOX® treatment women get to smooth and relax fine lines and wrinkles. Botox works to temporarily weaken the muscles beneath the skin, reducing their ability to contract when you smile, frown, or squint, which causes wrinkles over time. In less than 15-30 minutes, a master injector at Renu with experience injecting males to avoid feminization of the face, will carefully administer Botox injections to desired areas while you relax. The best part? You can schedule an appointment during your lunch break because there is little to no downtime afterward.
            p.services__desc Most men will see visible results in as little as three to five days with a lasting treatment of three to four months. However, it can take up to 14 days for full effect. Clients that make regular Brotox appointments and follow the suggestions and recommendations of our cosmetic professionals will typically maintain long-lasting results.
        div
          .services__block.services__block-2
            img(src="img/img-beforeAfter.jpg" alt="")

      .beforeAfter__content
        h3.services__subtitle Why Men Respect Brotox
        p.services__desc In today’s world, more men are opting for cosmetic procedures like BOTOX® to help them maintain a more youthful look. While the logistics for getting Brotox injectable treatments are similar to women, there are a few additional reasons men respect Brotox.

      .beforeAfter__content
        h3.services__subtitle Men are just as susceptible to the aging process
        p.services__desc Historically, the beauty of a woman’s physical appearance has been more emphasized than men’s. However, women aren’t the only ones who deserve to look good. Time doesn’t discriminate. If you want to reverse the signs of aging and maintain a more youthful appearance, BOTOX® is the perfect procedure, no matter your gender.

      .beforeAfter__content
        h3.services__subtitle Men have a different facial features
        p.services__desc While we all have two eyes, a nose, and a mouth, men have several significant differences when it comes to their facial features than women. Typically, men have 20% larger skulls than women, meaning they have more facial muscles. This means they need to be injected differently to avoid feminization of the face. Because these muscles contract every time you smile, frown, or squint, more wrinkles are prone to develop over time compared to women.

      .beforeAfter__content
        h3.services__subtitle Men want to feel good about themselves
        p.services__desc Just like women, men want to look and feel their best. A Brotox treatment can provide just that. When you look your best on the outside, you feel your best on the inside, which has a positive effect on your confidence, overall happiness, and quality of life.

    .beforeAfter__wrapper.beforeAfter__wrapper-2

      h2.services__title
        span Check out the before and after photos:

      .beforeAfter__box-wrapper
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")
        div
          .beforeAfter__box
            img(src="img/img-beforeAfter-eq.jpg" alt="")

    .beforeAfter__wrapper.beforeAfter__wrapper-3

      p!= "To find out if a Brotox procedure is right for you, call a Renu Medispa skincare professional to schedule a consult – <a href='tel:208-939-4456'>208-939-4456</a>"



// SECTION :: END
