// SECTION :: START

section#main.main.main--procedure

  .main__wrapper

    .main__slider

      .swiper
        .swiper-wrapper
          .swiper-slide.swiper-slide-active
            img(src="img/img-main-beforeAfter.png" alt="")
            .c-grid
              p!= "It’s no secret, and there’s no shame in it. Men around the world <br>are reversing the signs of aging and putting their best face <br>forward by maintaining a more youthful look."

// SECTION :: END
