// SECTION :: START

section#faq.faq

  .faq__container.faq__container-1
    .c-grid
      .faq__wrapper.faq__wrapper-1

        h2.faq__title FAQ’s

        .faq__collapse-wrapper
          each val, idx in [1,2,3,4,5,6,7]
            div
              .faq__collapse-container
                .faq__collapse-head
                  span
                  p What results can I expect from a Halo X treatment?
                .faq__collapse-body
                  div
                    p Halo X is a total skin rejuvenation procedure. You can expect visible improvement in overall tone and texture and the significant reduction of discoloration, fine lines, and pore size.

  .faq__container.faq__container-2
    .c-grid
      .faq__wrapper.faq__wrapper-2

        p.faq__info!= "To find out if Halo X is right for you, call a Renu Medispa skincare professional near Boise to schedule a consult – <a href='tel:208-939-4456'>208-939-4456</a>"

// SECTION :: END
