// SECTION :: START

section#main.main

  .main__wrapper

    .main__slider

      .swiper
        .swiper-wrapper
          .swiper-slide.swiper-slide-active
            img(src="img/img-main-procedure.png" alt="")
            .c-grid
              p!= "Discover, smooth, beautiful skin at any age. With deep dermal <br>revitalization, you can release your inner beauty with radiant <br>skin that glows from within."

// SECTION :: END
