// SECTION :: START

section#procedure.procedure

  .c-grid
    .procedure__wrapper

      h2.services__title
        span Halo X Boise

      .services__block-wrapper.services__block-wrapper-1.procedure__block-wrapper
        div
          .services__block.services__block-1
            h3.services__subtitle Halo X
            p.services__desc Known by celebrities as a miracle laser treatment, Halo X is the first fractionated laser that uses both ablative and non-ablative technology. This unique combination then packs a “facelift” punch by targeting both the top layers of the skin and getting to the deeper layers, creating mini cellular injuries that trigger collagen and elastin production. This provides a wide variety of benefits for those of any age.
        div
          .services__block.services__block-2
            img(src="img/img-procrdure.jpg" alt="")

      h3.services__subtitle How It Works
      p.services__desc At Renu Medispa, our Halo X treatment uses the only dual-wavelength laser on the market to target problem areas in both the upper layer (epidermis) and mid-layer (dermis) of the skin. This works to improve the appearance of pores, sun damage, brown spots, uneven skin texture, and tone. Depending on a client’s individual skin goals and recovery, our laser specialists can adjust the energy and density coverage as needed.

      .services__block-wrapper.services__block-wrapper-2
        div
          .services__block.services__block-1
            h3.services__subtitle A Better Option
            p.services__desc Our clients love the customized treatment and trust the expertise of our staff to help them plan their perfect complexions. Before Halo X, a typical client might request a non-ablative treatment for things like acne scarring or deeper lines and wrinkles, which would thicken and plump the treatment areas. However, the client would then have to wait patiently through the downtime and healing process. Then, they would have to come back, and the top textures of their skin would have to be targeted for other issues like discolorations or surface scarring. Again, they would have to manage their downtime to ensure optimal results. Not only would this mean double downtime, but double the expense as well.
            p.services__desc Today, with Halo X, we can customize the exact depth and density of the skin being treated. Clients reap the benefits of the ablative laser, releasing the trapped health from the non-ablative laser. This provides them with the results they want with a customized plan that gives them the downtime they can manage at a more affordable price. Keep in mind, however, that although many patients achieve visible results with a single treatment, best results occur in a series.
        div
          .services__block.services__block-2
            h3.services__subtitle Preventative Care That Works
            p.services__desc No matter your age, it’s essential to care for your skin. A Halo X treatment can be customized to all levels of skin concerns and degrees of aging. This makes it a favorite among clients of all ages as an effective skincare preventative measure. The best part? Halo X treatments are perfect for clients looking to maintain a youthful look they desire in as little as two treatments per year.
            p.services__desc As with any laser treatment, it’s important to discuss your lifestyle and skincare goals with your Renu Laser Specialist. We will ensure you understand the timeline of your treatments, and provide you with professional recommendations on the best products to use during your post-treatment healing, and how to get the best results from your Halo X treatment. Last but not least, the key to any successful Halo X treatment is to avoid the sun and take care of your skin through all stages of skin rejuvenation

// SECTION :: END
