// SECTION :: START

section#main.main

  .main__wrapper

    .main__slider

      .swiper
        .swiper-wrapper
          .swiper-slide.swiper-slide-active
            img(src="img/img-main-services.png" alt="")
            .c-grid
              p!= "Renu has the area’s most highly skilled Master Injection <br>Specialists. We send our staff to trainings around the world on <br>the most advanced treatment techniques with the newest and <br>most effective products."

// SECTION :: END
