// SECTION :: START

section#services.services

  .services__conatiner.services__conatiner-1
    .c-grid
      .services__wrapper.services__wrapper-1

        h2.services__title
          span Injectables and Dermal Fillers

        .services__block-wrapper
          div
            .services__block.services__block-1
              h3.services__subtitle What are Dermal Fillers?
              p.services__desc Dermal fillers treat moderate to severe wrinkles, folds, and collagen loss that can occur as we age. Areas that can be enhanced include the lips, nasal labial folds, parenthesis around the mouth, chin crease, hollow cheeks, and more. We can help you determine which filler is best for you. For some clients, multiple dermal fillers are used at once to obtain the optimum look.
              p.services__desc Dermal fillers are a great complementary procedure to Injectables. Dermal Fillers will tackle static wrinkles and enhance the volume of your skin. Injectables like Botox work on the dynamic wrinkles in your face, like between your eyebrows. Our team will help you choose the best treatment plan for you and your goals.
          div
            .services__block.services__block-2
              h3.services__subtitle What are Wrinkle Relaxers?
              p.services__desc Injectible wrinkle relaxers are one of the most effective methods of cosmetic enhancement with immediate results. Botox Cosmetic® or Dysport might be the perfect solution to restoring that youthful, energized look we all crave. Injectibles relax facial muscles, leading to smoother skin and disappearance of unsightly lines and wrinkles.
              p.services__desc Whether you are trying to get rid of specific wrinkles, like crows feet or prevent deep wrinkles before they start, you should consider the professional applying your injection as much as the product itself. The injectible market is improving and changing all the time. New treatment serums are being approved and tested. You can be assured that Renu is at the leading edge of this amazing industry.

        p.services__desc!= "Renu has the area’s most highly skilled Master Injection Specialists. We send our staff to trainings around the world on the most advanced treatment techniques with the newest and most effective products. We are proud of our PLATINUM PLUS Status with Allergan, the #1 manufacturer of injectables. This amazing status places us in the top 3% of providers nationwide for patient satisfaction and safety. That level of experience means you have the best results with your treatment. We are also proud to offer the <a href='https://renumedispa.com/brilliant-distinctions/'>Brilliant Distinctions™</a> Program, an exciting loyalty program that offers a multitude of great rewards when you purchase any product by Allergan, the makers of Botox."

  .services__container.services__container-2
    .c-grid
      .services__wrapper.services__wrapper-2

        .services__box-wrapper
          div
            .services__box
              .services__box-head
                p.services__box-title PRP Therapy
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Use your body’s own stem cells to grow new, younger cells.
          div
            .services__box
              .services__box-head
                p.services__box-title Botox Cosmetic
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc There’s a fine line between looking and feeling good. And that line’s a wrinkle! If you’ve got a few minutes to spare, you can put your best face forward by reducing unwanted lines.
          div
            .services__box
              .services__box-head
                p.services__box-title Dysport
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Turn back time and enhance your natural beauty with one of the most popular medical wrinkle relaxers in Europe as well as the U.S. The best part? No one will know unless you tell them...
          div
            .services__box
              .services__box-head
                p.services__box-title Xeomin
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc There’s nothing selfish about self-care. With Xeomin® , you can reverse and diminish the signs of aging without the unwanted proteins contained in other commonly used injectables.
          div
            .services__box
              .services__box-head
                p.services__box-title Sculptra
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc A dermal filler like no other! Sculptra® Aesthetic is the only injectable that works subtly and gradually over time for a more youthful-looking appearance.
          div
            .services__box
              .services__box-head
                p.services__box-title Juvederm
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc We all deal with the natural effects of aging. But, that doesn’t mean we have to accept every flaw life throws at us. With Juvederm, you can reduce wrinkles by plumping and restoring your skin for a more youthful complexion.
          div
            .services__box
              .services__box-head
                p.services__box-title Lip Augmentation
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Get the perfect pout! Enhance your shape, volume, definition, and cupid’s bow for sexy, luscious lips with natural-looking lip injections.
          div
            .services__box
              .services__box-head
                p.services__box-title Restylane
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Reveal a younger-looking you and reverse the signs of aging by restoring volume and fullness to the skin for natural looking results that last.
          div
            .services__box
              .services__box-head
                p.services__box-title Radiesse
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Put your best face forward through a non-surgical approach to shaping and contouring the face while reversing the signs of aging for a more youthful, radiant complexion.
          div
            .services__box
              .services__box-head
                p.services__box-title Jaw & Chin Augmentation
                a.services__box-link(href="#")
                  p
                    i.fas.fa-plus
                  span Learn More
              .services__box-body
                p.services__box-desc Restore volume, balance, and symmetry with non-surgical jaw and chin augmentation that requires no healing or downtime.

// SECTION :: END
