// SECTION :: START

section#category.category

  .category__wrapper

    .category__box-wrapper
      div
        a.category__box.category__box-1(href="#")
          img.category__box-img(src="img/img-category-1.jpg" alt="")
          .category__box-content
            h6 Injectables
      div
        a.category__box.category__box-2(href="#")
          img.category__box-img(src="img/img-category-2.jpg" alt="")
          .category__box-content
            h6 Body Contouring
      div
        a.category__box.category__box-3(href="#")
          img.category__box-img(src="img/img-category-3.jpg" alt="")
          .category__box-content
            h6 Laser Treatments
      div
        a.category__box.category__box-4(href="#")
          img.category__box-img(src="img/img-category-4.png" alt="")
          .category__box-content
            h6 Skin Health
      div
        a.category__box.category__box-5(href="#")
          img.category__box-img(src="img/img-category-5.jpg" alt="")
          .category__box-content
            h6 Reviews
      div
        a.category__box.category__box-6(href="#")
          img.category__box-img(src="img/img-category-6.jpg" alt="")
          .category__box-content
            h6 Specials

// SECTION :: END
