// SECTION :: START

section#main.main

  .main__wrapper

    .main__slider

      .swiper.mainSlider
        .swiper-wrapper
          .swiper-slide
            img(src="img/img-main-slider-1.jpg" alt="")
            h1!= "Holiday Specials <br>Coming Soon!"
          .swiper-slide
            img(src="img/img-main-slider-2.jpg" alt="")

        .swiper-pagination


// SECTION :: END
