// SECTION :: START

section#skin.skin
  .c-grid
    .skin__wrapper

      .skin__header
        img(src="img/img-skin.png" alt="")

      h2.skin__title A Sanctuary for Your Skin...
      p.skin__desc At Renu Medispa near Boise, we have created the perfect place for you and your skin to thrive. Our Medical Spa gives you the opportunity to discover a more youthful appearance through expert skincare and other non-surgical treatments. Renu has integrated expert care in its approach to wellness. We offer the perfect blend of aesthetics and science for all your skin care needs and deliver the best laser treatments Idaho has to offer. Known for being innovators in our industry, Renu Medispa offers comprehensive relief from the signs of aging.

// SECTION :: END
